/****************category-boots**************/
/********************************************/
.bread-crumb {
  background: #f3f3f3;
  padding: 5px 10px; }
  .bread-crumb ul li {
    display: inline-block; }
    .bread-crumb ul li:last-child a {
      color: #808080; }
    .bread-crumb ul li a {
      font-size: 12px;
      padding: 0;
      display: inline-block; }
    .bread-crumb ul li .fa {
      margin-left: 5px; }

.welcome-screen-teamware {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px; }
  .welcome-screen-teamware:before {
    right: 0;
    bottom: 0;
    content: "";
    width: 116px;
    height: 223px;
    position: absolute;
    background: url("../images/category_teamware/bg-welcome-screen.png") center center no-repeat;
    display: inline-block; }
  .welcome-screen-teamware h1 {
    font-size: 29px;
    font-family: "mohavebold", sans-serif;
    padding: 10px; }
  .welcome-screen-teamware .sub-title-teamware {
    background: #f3f3f3;
    padding: 5px 10px; }
    .welcome-screen-teamware .sub-title-teamware p {
      margin-bottom: 5px; }

.welcome-screen {
  background: url("../images/category_boots/bg-welcome.png") no-repeat right -100%;
  padding: 0 10px 10px;
  border-bottom: solid 1px #e6e6e6; }
  .welcome-screen h1 {
    font-size: 29px;
    font-family: "mohavebold", sans-serif;
    padding: 10px 0; }
  .welcome-screen .sub-title {
    font-family: "ralewayregular", sans-serif;
    margin-bottom: 20px; }
  .welcome-screen .filter-settings {
    font-size: 12px; }
    .welcome-screen .filter-settings a {
      color: #5a5a5a;
      display: inline-block;
      margin-left: 10px; }
      .welcome-screen .filter-settings a .fa {
        margin-right: 5px;
        color: #2862a2; }

.filtered-goods .filter-settings {
  font-size: 12px; }
  .filtered-goods .filter-settings a {
    color: #5a5a5a;
    display: inline-block;
    margin-left: 10px; }
    .filtered-goods .filter-settings a .fa {
      margin-right: 5px;
      color: #2862a2; }

.btn-wide {
  display: block;
  color: white;
  text-align: center;
  background: #054180;
  text-decoration: none;
  font-family: "mohavesemibold", sans-serif;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 10px; }
  .btn-wide:hover, .btn-wide:focus {
    color: #ffffff;
    text-decoration: none; }

.filtered-goods {
  padding: 0 10px;
  border-bottom: solid 1px #e6e6e6; }

.dropdown-brand a {
  text-decoration: none; }
.dropdown-brand .dropdown-menu {
  width: 100%;
  margin: 15px 0 0; }

.order-filter .dropdown-menu {
  margin: 25px 0 0; }

.order-filter {
  padding: 5px 0; }
  .order-filter .btn-order-filter {
    text-align: left;
    float: left;
    color: #054182; }
    .order-filter .btn-order-filter .fa {
      margin-left: 10px; }
  .order-filter .sum-goods {
    text-align: right;
    float: right; }

.list-filtered-goods .goods-information {
  padding: 0; }
  .list-filtered-goods .goods-information a {
    text-decoration: none; }
    .list-filtered-goods .goods-information a .img-wrapper {
      text-align: center;
      position: relative; }
      .list-filtered-goods .goods-information a .img-wrapper img {
        width: 100%;
        height: auto; }
      .list-filtered-goods .goods-information a .img-wrapper .new-ico {
        position: absolute;
        content: "";
        width: 28px;
        height: 28px;
        background: url("../images/category_boots/new-ico.png") no-repeat right -100%;
        top: 0;
        right: 0; }
      .list-filtered-goods .goods-information a .img-wrapper .free-delivery-ico {
        position: absolute;
        content: "";
        width: 28px;
        height: 28px;
        background: url("../images/category_boots/free-delivery-ico.png") no-repeat right -100%;
        top: 0;
        right: 0; }
    .list-filtered-goods .goods-information a h2 {
      font-size: 14px;
      color: #054182;
      font-family: "ralewaybold", sans-serif;
      padding-right: 10px; }
    .list-filtered-goods .goods-information a .price-goods {
      padding: 5px 0; }
      .list-filtered-goods .goods-information a .price-goods .old-price {
        color: gray;
        font-family: "MohaveBoldItalic", sans-serif;
        font-size: 14px;
        margin-right: 10px;
        text-decoration: line-through; }
      .list-filtered-goods .goods-information a .price-goods .current-price {
        color: red;
        font-family: "mohavebold", sans-serif;
        font-size: 16px; }
    .list-filtered-goods .goods-information a .size-goods {
      color: #5a5a5a;
      font-size: 12px !important;
      min-height: 65px; }
      .list-filtered-goods .goods-information a .size-goods .sizes-list {
        padding-right: 25px; }
        .list-filtered-goods .goods-information a .size-goods .sizes-list li {
          display: inline-block; }

.pagination-goods {
  padding: 15px 10px;
  text-align: center; }
  .pagination-goods .btn-prev, .pagination-goods .btn-next {
    color: white;
    font-size: 16px;
    padding: 6px 10px; }
    .pagination-goods .btn-prev .text-btn, .pagination-goods .btn-next .text-btn {
      font-family: "mohavesemibold", sans-serif; }
    .pagination-goods .btn-prev:hover, .pagination-goods .btn-prev:focus, .pagination-goods .btn-next:hover, .pagination-goods .btn-next:focus {
      text-decoration: none; }
  .pagination-goods .btn-prev {
    float: left; }
  .pagination-goods .btn-next {
    float: right; }
  .pagination-goods .number-active-page {
    position: relative;
    top: 8px; }
  .pagination-goods .disable {
    background: #9f9f9f; }
  .pagination-goods .active {
    background: #054180; }

/************************filter*****************/
#myModal, #myModal2 {
  padding: 0 !important; }
  #myModal .modal-dialog, #myModal2 .modal-dialog {
    margin: 0; }
    #myModal .modal-dialog .modal-body, #myModal2 .modal-dialog .modal-body {
      padding: 0; }

.modal-content {
  background: #f5f5f5; }
  .modal-content .header-filter {
    background: #ffffff;
    padding: 10px; }
  .modal-content .number-of-filters {
    float: left; }
  .modal-content .btn-reset, .modal-content .btn-apply {
    border: none;
    outline: none;
    padding: 10px 15px;
    margin-left: 10px;
    float: right;
    background: #9f9f9f;
    color: #ffffff;
    font-family: "mohavebold", sans-serif;
    font-size: 16px; }
  .modal-content .btn-apply {
    float: right;
    color: #ffffff;
    font-family: "mohavebold", sans-serif; }
  .modal-content .btn-apply {
    background: #054180; }
  .modal-content .panel-heading {
    border-bottom: solid 1px #ffffff;
    padding: 10px; }
    .modal-content .panel-heading h4 .fa {
      float: right; }
    .modal-content .panel-heading h4 a {
      font-family: "mohavebold", sans-serif;
      display: block;
      color: #054182; }
    .modal-content .panel-heading ul[data-selected-items] li {
      display: inline-block;
      margin-right: 5px; }
      .modal-content .panel-heading ul[data-selected-items] li span:last-child {
        color: #5a5a5a; }
      .modal-content .panel-heading ul[data-selected-items] li .fa {
        padding-right: 3px; }

ul[data-global-filter-settings] li {
  display: inline-block; }

.collapse-marca .panel-body label {
  width: 100%;
  font-size: 14px;
  padding: 6px 0; }
.collapse-marca .panel-body .checkbox22:not(checked) {
  position: absolute;
  opacity: 0; }
.collapse-marca .panel-body .checkbox22:not(checked) + label {
  color: #808080; }
.collapse-marca .panel-body .checkbox22:checked + label {
  color: red; }

#collapse-taglia .panel-body {
  overflow: hidden;
  padding: 10px 0 10px 10px;
  position: relative; }
  #collapse-taglia .panel-body label {
    width: 20%;
    text-align: center;
    float: left; }
    #collapse-taglia .panel-body label span {
      display: block;
      background: #dcdcdc;
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 10px 0; }
  #collapse-taglia .panel-body .checkbox22:not(checked) {
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 50%; }
  #collapse-taglia .panel-body .checkbox22:not(checked) + label {
    color: #808080; }
  #collapse-taglia .panel-body .checkbox22:checked + label span {
    color: #ffffff;
    background: #054180; }

/********menu-equipment-categories*************/
.modal-content {
  border-radius: 0; }

.panel {
  margin-bottom: 0; }

.list-group.panel > .list-group-item {
  border-radius: 0; }

.list-group-item {
  border: none;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0; }
  .list-group-item .fa {
    float: right; }
  .list-group-item .fa.fa-minus, .list-group-item .fa.fa-chevron-down {
    display: none; }

.list-group-item[aria-expanded="true"] .fa.fa-plus, .list-group-item[aria-expanded="true"] .fa.fa-chevron-right {
  display: none; }
.list-group-item[aria-expanded="true"] .fa.fa-minus, .list-group-item[aria-expanded="true"] .fa.fa-chevron-down {
  display: block !important; }

/*************************************/
.panel-title a {
  display: block; }
  .panel-title a .fa {
    float: right; }
  .panel-title a .fa.fa-minus, .panel-title a .fa.fa-chevron-down {
    display: none; }

.panel-title a[aria-expanded="true"] .fa.fa-plus, .panel-title a[aria-expanded="true"] .fa.fa-chevron-right {
  display: none; }
.panel-title a[aria-expanded="true"] .fa.fa-minus, .panel-title a[aria-expanded="true"] .fa.fa-chevron-down {
  display: block !important; }

/*****************/
.list-group-submenu .list-group-item {
  padding: 10px 15px 10px 35px; }

.list-group-submenu .list-group-subsubmenu .list-group-item {
  padding: 10px 15px 10px 55px; }

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
  font-weight: 600; }

.main-item {
  background: #f3f3f3;
  font-family: 'mohavebold', sans-serif;
  font-size: 16px;
  color: #054182 !important; }

/******filter-personal-prefer******/
.filter-personal-prefer {
  display: none;
  padding: 10px;
  background: #f3f3f3; }
  .filter-personal-prefer .btn-wide {
    margin-top: 10px;
    position: relative;
    border: none;
    outline: none;
    width: 100%;
    z-index: 3; }
  .filter-personal-prefer .number-players {
    position: relative;
    z-index: 1; }
    .filter-personal-prefer .number-players label {
      width: 33.33%;
      font-size: 14px;
      padding: 6px 0;
      float: left; }
      .filter-personal-prefer .number-players label span {
        border: solid 1px #dddddd;
        text-align: center;
        display: block;
        padding: 5px;
        margin-right: 10px; }
    .filter-personal-prefer .number-players .radio-number-players:not(checked) {
      position: absolute;
      opacity: 0; }
    .filter-personal-prefer .number-players .radio-number-players:not(checked) + label {
      color: #093d75;
      font-weight: 400; }
      .filter-personal-prefer .number-players .radio-number-players:not(checked) + label span {
        background: #ffffff; }
    .filter-personal-prefer .number-players .radio-number-players:checked + label {
      color: #000000;
      font-weight: 600; }
      .filter-personal-prefer .number-players .radio-number-players:checked + label span {
        background: #f3f3f3; }

/*# sourceMappingURL=category-goods.css.map */
