/*****slider-product*****/

.slider-product .bxslider {
  li img {
    margin: 0 auto;
  }
}

.bx-wrapper {
  margin: 0 auto 40px;
  padding: 10px 0;
  .bx-controls-direction a {
    width: 9px;
    height: 14px;
  }

  .bx-prev:hover, .bx-next:hover {
    background-position: center;
  }

  .bx-prev {
    background: url("../images/slider-arrow-left.png") no-repeat center center;
//    background: none;
  }
  .bx-next {
    background: url("../images/slider-arrow-right.png") no-repeat center center;
//    background: none;
  }
  .bx-viewport {
    box-shadow: none !important;
    border: none;
    position: static !important;
  }
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: none;
  border: solid 1px #808080;
  margin: 0 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #054182;
}

.bx-wrapper img {
  margin: 0 auto;
}

.outside p {
  #slider-prev, #slider-next, #slider-prev2, #slider-next2 {
    width: 50%;
    float: left;
    text-align: center;
    a {
      display: block;
    }

  }
}

.outside p {
  background: #f3f3f3;
  border-top: solid 1px #ffffff;
}
.outside #slider-prev, .outside #slider-next, .outside #slider-prev2, .outside #slider-next2 {
  a {
    font-family: "mohavebold", sans-serif;
    font-size: 16px;
    padding: 10px 0;
    color: #054182;
  }

  .bx-prev.disabled, .bx-next.disabled  {
    visibility: hidden;
  }
}